h1{
    color: olive;
    font-family: "Times New Roman";
    font-size: 30px;
    margin-right: 20px;
}
h6{
    color: green;
    font-size: 20px;
    font-family: "Times New Roman";
}
body{
    background-color: lightblue;
}